{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h2>Your Cart</h2>

    <table class="table">

        <thead>
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

        {% for item in items %}

            <tr>

                <td>{{ item.product.name }}</td>

                <td>{{ item.quantity }}</td>

                <td>₹ {{ item.product.price }}</td>

                <td>₹ {{ item.subtotal }}</td>

                <td>
                    <a href="{% url 'remove_from_cart' item.id %}"
                       class="btn btn-danger btn-sm">
                        Remove
                    </a>
                </td>

            </tr>

        {% empty %}

            <tr>
                <td colspan="5">
                    Cart is empty.
                </td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

    <h4 class="text-end">
        Total: ₹ {{ total }}
    </h4>
    <div class="text-end">

    <a href="/orders/checkout/"
       class="btn btn-success">

       Proceed To Checkout

    </a>

    </div>

</div>

{% endblock %}