{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <div class="row">

        <div class="col-md-4">

            {% if doctor.image %}
                <img src="{{ doctor.image.url }}"
                     class="img-fluid rounded shadow">
            {% endif %}

        </div>

        <div class="col-md-8">

            <h2>{{ doctor.name }}</h2>

            <hr>

            <p>
                <strong>Specialization:</strong>
                {{ doctor.specialization }}
            </p>

            <p>
                <strong>Experience:</strong>
                {{ doctor.experience }} Years
            </p>

            <p>
                <strong>Consultation Fee:</strong>
                ₹{{ doctor.fees }}
            </p>

            <p>
                <strong>Availability:</strong>

                {% if doctor.is_available %}
                    Available
                {% else %}
                    Not Available
                {% endif %}
            </p>

            <h5 class="mt-4">Doctor Bio</h5>

            <p>
                {{ doctor.bio }}
            </p>

            <a href="{% url 'book_consultation' doctor.id %}"
               class="btn btn-success">
                Book Consultation
            </a>

            <a href="{% url 'doctor_list' %}"
               class="btn btn-secondary">
                Back
            </a>

        </div>

    </div>

</div>

{% endblock %}