{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

<h2 class="text-center mb-5">

{{ category.name }}

</h2>

<div class="row">

{% for product in products %}

<div class="col-lg-3 col-md-6 mb-4">

<div class="card shadow h-100">

{% if product.image %}
<img src="{{ product.image.url }}"
class="card-img-top"
style="height:250px;object-fit:cover;">
{% endif %}

<div class="card-body">

<h5>

{{ product.name }}

</h5>

<h5 class="text-success">

₹{{ product.price }}

</h5>

<a href="{% url 'product_detail' product.slug %}"
class="btn btn-success">

View Details

</a>

</div>

</div>

</div>

{% endfor %}

</div>

</div>

{% endblock %}