{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h2 class="mb-4">
        My Wishlist
    </h2>

    <div class="row">

        {% for item in items %}

        <div class="col-md-3 mb-4">

            <div class="card">

                {% if item.product.image %}
                    <img src="{{ item.product.image.url }}"
                         class="card-img-top"
                         style="height:250px; object-fit:cover;">
                {% else %}
                    <img src="https://via.placeholder.com/500x250"
                         class="card-img-top"
                         style="height:250px; object-fit:cover;">
                {% endif %}

                <div class="card-body">

                    <h5>
                        {{ item.product.name }}
                    </h5>

                    <p class="text-success">
                        ₹ {{ item.product.price }}
                    </p>

                </div>

            </div>

        </div>

        {% empty %}

        <p>
            Wishlist is empty.
        </p>

        {% endfor %}

    </div>

</div>

{% endblock %}
