{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow">

                <div class="card-body">

                    <h2>
                        Book Gardener
                    </h2>

                    <h4 class="text-success">
                        {{ gardener.name }}
                    </h4>

                    <hr>

                    <form method="POST">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button class="btn btn-success">

                            Submit Booking

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}