{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h2 class="text-center mb-5">
        Our Professional Gardeners
    </h2>

    <div class="row">

        {% for gardener in gardeners %}

        <div class="col-md-4 mb-4">

            <div class="card shadow h-100">

                <img src="{{ gardener.image.url }}"
                     class="card-img-top"
                     style="height:300px; object-fit:cover;">

                <div class="card-body">

                    <h4>{{ gardener.name }}</h4>

                    <p>
                        <strong>Experience:</strong>
                        {{ gardener.experience }} Years
                    </p>

                    <p>
                        <strong>Specialization:</strong>
                        {{ gardener.specialization }}
                    </p>

                    <p class="text-success fw-bold">
                        ₹ {{ gardener.daily_charge }}/day
                    </p>

                    <a href="{% url 'book_gardener' gardener.id %}"
                       class="btn btn-success w-100">

                        Book Gardener

                    </a>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="col-12 text-center">

            <h4>No Gardeners Available</h4>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}