{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h2>Checkout</h2>

    <form method="POST">

        {% csrf_token %}

        <div class="mb-3">
            <label>Full Name</label>
            <input type="text"
                   name="full_name"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label>Phone</label>
            <input type="text"
                   name="phone"
                   class="form-control"
                   required>
        </div>

        <div class="mb-3">
            <label>Address</label>
            <textarea name="address"
                      class="form-control"
                      required></textarea>
        </div>

        <div class="mb-3">
            <label>City</label>
            <input type="text"
                   name="city"
                   class="form-control"
                   required>
        </div>

        <h4>Total: ₹ {{ total }}</h4>

        <button class="btn btn-success">
            Place Order
        </button>

    </form>

</div>

{% endblock %}